body.gjs-active {
  height:100%;
  background: #000;
  color: #000;
  overflow: hidden;
}

.gjs-mdl-container {
    padding-top: 12%;
}

.gjs-active .gjs-two-color {
    color: #777;
    background: #ccc;
}

.gjs-active .gjs-four-color {
  color: rgb(51, 122, 183);
}

.gjs-editor.gjs-one-bg {
  background: rgb(51, 122, 183);
  color: #fff;
}

.gjs-cv-canvas {
  transform: scaleX(.75) scaleY(.75);
  top: 0px;
  background: rgb(51, 122, 183);
  box-shadow: -2px 1px 3px 1px rgba(0, 0, 0, 0.3333);
}
