/**
* @file Contains css needed For the Dragon editor
*/
#toolbar-link-dragon-admin:before,
.toolbar-icon.toolbar-icon-dragon-admin:before {
  background: url('../img/dragon.png') no-repeat transparent;
  position: absolute;
  top:5px;
}

div#loader, div#dragon-loader {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: #2f2f2f;
    padding-top: 16%;
    text-align: center;
}

iframe {
    user-select: none;
    -webkit-user-select: none;
}

#wte-pn-options2.wte-pn-panel {
    box-shadow: none;
}

.icon-add-comp::before,
.icon-comp100::before,
.icon-comp50::before,
.icon-comp30::before,
.icon-rm::before {
    content: '';
}

.icon-add-comp {
    background: url("../img/icon-sq-a.png") no-repeat center;
}

.icon-comp100 {
    background: url("../img/icon-sq-1.png") no-repeat center;
}

.icon-comp50 {
    background: url("../img/icon-sq-2.png") no-repeat center;
}

.icon-comp30 {
    background: url("../img/icon-sq-3.png") no-repeat center;
}

.icon-rm {
    background: url("../img/icon-sq-r.png") no-repeat center;
}

.icons-flex {
    background-size: 70% 65% !important;
    height: 15px;
    width: 17px;
    opacity: 0.9;
}

.icon-dir-row {
    background: url("../img/flex-dir-row.png") no-repeat center;
}

.icon-dir-row-rev {
    background: url("./img/flex-dir-row-rev.png") no-repeat center;
}

.icon-dir-col {
    background: url("./img/flex-dir-col.png") no-repeat center;
}

.icon-dir-col-rev {
    background: url("./img/flex-dir-col-rev.png") no-repeat center;
}

.icon-just-start {
    background: url("./img/flex-just-start.png") no-repeat center;
}

.icon-just-end {
    background: url("./img/flex-just-end.png") no-repeat center;
}

.icon-just-sp-bet {
    background: url("./img/flex-just-sp-bet.png") no-repeat center;
}

.icon-just-sp-ar {
    background: url("./img/flex-just-sp-ar.png") no-repeat center;
}

.icon-just-sp-cent {
    background: url("./img/flex-just-sp-cent.png") no-repeat center;
}

.icon-al-start {
    background: url("./img/flex-al-start.png") no-repeat center;
}

.icon-al-end {
    background: url("./img/flex-al-end.png") no-repeat center;
}

.icon-al-str {
    background: url("./img/flex-al-str.png") no-repeat center;
}

.icon-al-center {
    background: url("./img/flex-al-center.png") no-repeat center;
}

#wte-sm-label-parent-flex {
    width: 100%;
}

#wte-sm-label-parent-flex .wte-sm-field {
    display: none;
}

#wte-sm-label-parent-flex {
    border-bottom: 1px solid #383838;
    font-size: 12px;
    padding: 15px 3px 5px;
    width: 100%;
}

#wte-sm-flex-grow,
#wte-sm-flex-shrink {
    width: 30%;
}

#wte-sm-flex-basis {
    width: 40%;
}

#toast-container {
    font-size: 13px;
    font-weight: lighter;
}

#toast-container>div,
#toast-container>div:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    font-family: Helvetica, sans-serif;
}

#toast-container>div {
    opacity: 0.95;
}

#gjs-pn-devices-c {
    width: 50%;
    z-index: 1;
}

#gjs-sm-float,
#gjs-pn-views .fa-cog,
#gjs-pn-commands .gjs-pn-buttons {
    display: none;
}

.gjs-pn-panel#gjs-pn-commands {
    width: 200px;
    box-shadow: none;
}

[data-tooltip]::after {
    background: rgba(51, 51, 51, 0.9);
}

.gjs-am-preview-cont {
    height: 100px;
    width: 100%;
}

.gjs-logo {
    height: 25px;
}

.gjs-logo-cont {
    position: absolute;
    left: 25px;
    top: 8px;
}

.gjs-logo-version {
    position: absolute;
    background-color: #756467;
    font-size: 10px;
    padding: 1px 7px;
    border-radius: 15px;
    bottom: 2px;
    right: -43px;
}

#gjs-rte-toolbar, .gjs-bg-main, .gjs-clm-select option, .gjs-clm-tags .gjs-sm-colorp-c, .gjs-editor, .gjs-mdl-dialog, .gjs-nv-item .gjs-nv-title-c, .gjs-off-prv, .gjs-pn-panel, .gjs-select option, .gjs-sm-sector .gjs-sm-colorp-c, .gjs-sm-select option, .gjs-sm-unit option, .sp-container, .gjs-block {
    background-color: #337ab7 !important;
}

.gjs-btnt.gjs-pn-active, .gjs-color-active, .gjs-color-hl, .gjs-pn-btn.gjs-pn-active, .gjs-pn-btn:active, .gjs-block:hover, .gjs-block:hover .gjs-block-svg-path {
  color: #fff !important;
  fill: #fff !important;
}

.gjs-block-categories {
    position: relative;
    top: 40px;
}

/**
* Template related.
*/
div#gjs-pn-templates-a label {
  color:#fff;
  margin:0px 10px;
}
div#gjs-pn-templates-a select {
  color:#000;
}

button#commit-twig {
    position: absolute;
    top: 5px;
    left: 400px;
    height: 28px;
    padding-top: 4px;
}

div#gjs-pn-templates-a {
  position: relative;
  overflow: visible;
  padding-bottom: 10px;
}

div#gjs-pn-templates-a .gjs-pn-buttons {
  position: absolute;
  top: 4px;
  left: 295px;
  z-index: 99999;
}

div#gjs-pn-templates-a span.gjs-pn-btn {
    padding: 3px;
}

div#gjs-pn-templates-a .ab-testing {
  content: 'A/B';
  font-weight: bold;
  width: 32px;
  height: 32px;
  display: block;
  padding-top: 4px !important;
}

/* Related to AB Testing @TODO: move to own style file. */
div#gjs-pn-ab-testing {
    position: absolute;
    left: 0px;
    width: 800px;
    top: 34px;
    z-index: 1;
}

div#gjs-pn-ab-testing .form-group {
    text-align: left;
    padding: 5px;
}

div#gjs-pn-ab-testing td, div#gjs-pn-ab-testing th {
    padding: 10px;
    border-bottom: 1px solid;
}

div#gjs-pn-ab-testing li.active a {
  color: #337ab7;
}

div#gjs-pn-ab-testing li a {
  color: #fff;
}

div#gjs-pn-ab-testing .tab-content li a {
  color: #000;
}

div#gjs-pn-ab-testing .tab-content li.active a {
  color: #337ab7;
}

div#gjs-pn-ab-testing .tab-content {
    background: #fff;
    color: #000;
    text-align: left;
    padding: 15px;
    overflow: hidden;
}

div#gjs-pn-ab-testing .tab-content table {
  width: 100%;
}

#goal-templates .well.col-sm-4 {
  height: 188px;
  margin: 5px;
  width: 232px;
  font-size: 12px;
  cursor: pointer;
}

/**
* Search blocks related.
*/
div#gjs-pn-search-blocks {
  position: absolute;
  right: 10px;
  z-index: 99999;
  top: 41px;
  width: 14%;
}

span.gjs-pn-btn.fa,
.gjs-blocks-cs .gjs-block {
    color: #fff !important;
}
span.gjs-pn-btn.fa.gjs-pn-active {
    color:yellow !important;
}

.gjs-editor {
    position: absolute;
    width: 100%;
}

div#gjs-pn-templates-a label {
  display: inline;
}

body.gjs-editor-cont {
  overflow: hidden;
}

div#gjs-pn-search-a {
    position: absolute;
    right: 0px;
    top: 10px;
}

#gjs-pn-templates-a .gjs-pn-buttons label {
  display:inline;
}
