<div id="site-builder-header"> {{ header }} </div>
<div id="site-builder">
  {{ canvas }}
</div>
<div id="loader">
  <img src="/modules/dragon/assets/img/dragon_loading.gif" loop="loop">
</div>

<div id="breakpoint-rulers"> </div>
