{{ form.details }}

<div class="canvas-wrapper">
  <div class="actions">
    <div class="breakpoint">
      <label>Current Breakpoint:</label>
      <select id="breakpoint-select">
        <option value="">Select a Breakpoint</option>
      </select>
    </div>
    <button class="btn btn-small btn-expand">Expand</button>
    <button class="btn btn-small btn-add-layout">Add Breakpoint</button>
  </div>
  <div id="layout-canvas">
    <div id="stage1" class="build-wrap"></div>
    <form class="render-wrap"></form>
    <button id="edit-form">Edit Form</button>
    <div class="action-buttons">
      <h2>Actions</h2>
      <button id="showData" type="button">Show Data</button>
      <button id="clearFields" type="button">Clear All Fields</button>
      <button id="getData" type="button">Get Data</button>
      <button id="getXML" type="button">Get XML Data</button>
      <button id="getJSON" type="button">Get JSON Data</button>
      <button id="getJS" type="button">Get JS Data</button>
      <button id="setData" type="button">Set Data</button>
      <button id="addField" type="button">Add Field</button>
      <button id="removeField" type="button">Remove Field</button>
      <button id="testSubmit" type="submit">Test Submit</button>
      <button id="resetDemo" type="button">Reset Demo</button>
      <h2>i18n</h2>
      <select id="setLanguage">
        <option value="ar-TN" dir="rtl">تونسي</option>
        <option value="de-DE">Deutsch</option>
        <option value="en-US">English</option>
        <option value="es-ES">español</option>
        <option value="fa-IR" dir="rtl">فارسى</option>
        <option value="fr-FR">français</option>
        <option value="nb-NO">norsk</option>
        <option value="nl-NL">Nederlands</option>
        <option value="pt-BR">português</option>
        <option value="ro-RO">român</option>
        <option value="ru-RU">Русский язык</option>
        <option value="tr-TR">Türkçe</option>
        <option value="vi-VN">tiếng việt</option>
        <option value="zh-TW">台語</option>
      </select>
    </div>
  </div>
</div>
